 body html{
      font: 400 15px Lato, sans-serif;
      line-height: 1.8;
      color: #818181;
	  height: 100%;
  }
  
 .content-wrapper {
    margin: auto;
	width: 90%;
}

h1,h2,h3,h4 {
	color: #252423;
	
} 	  
 
/** REFRENCES **/ 
#refrences{
	margin-left: 	1em; 
	padding-top:	5em;
	margin: auto;
	
}
 
/** HOME AND NAV **/

#intro {
    margin: auto;
    text-align: center;
    color: #818181;
    padding-top: 20%;
    padding-bottom: 12%;
	background-image: url("../images/background.jpeg");
	background-color: #cccccc;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	height: 100%;
	background-attachment: fixed;
}

#intro h3{
	
	color: #FFFFFF;
	
}

.navbar {
      margin-bottom: 0;
      background-color: #252423;
      z-index: 9999;
      border: 0;
      font-size: 12px !important;
      line-height: 1.42857143 !important;
      letter-spacing: 4px;
      border-radius: 0;
      font-family: Montserrat, sans-serif;
  }
.navbar li a, .navbar .navbar-brand {
      color: #fff !important;
  }
.navbar-nav li a:hover, .navbar-nav li.active a {
      color: #252423 !important;
      background-color: #fff !important;
  }
.navbar-default .navbar-toggle {
      border-color: transparent;
      color: #fff !important;
  }

.slideanim {
	visibility:hidden;
	
}

.slide {
      animation-name: slide;
      -webkit-animation-name: slide;
      animation-duration: 1s;
      -webkit-animation-duration: 1s;
      visibility: visible;
  }
  
@keyframes slide {
    0% {
      opacity: 0;
      transform: translateY(70%);
    } 
    100% {
      opacity: 1;
      transform: translateY(0%);
    }
  }
  
@-webkit-keyframes slide {
	0% {
	  opacity: 0;
      -webkit-transform: translateY(70%);
    } 
    100% {
      opacity: 1;
      -webkit-transform: translateY(0%);
    }
  }
 
  /** ABOUT ME **/
#aboutMe {
	margin-left: 	1em; 
	padding-top:	5em;
	margin: auto;
}	
 
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}
 
  /** EDUCATION **/
#education {
	margin-left: 	1em; 
	padding-top:	5em;
	margin: auto;
	
}

#education h2{
	color: #FFFFFF;
	
}

  /** PROJECTS **/
#projects {
	margin-left: 	1em; 
	padding-top:	5em;
	margin: auto;
}	

.image1, .image2, .image3 {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content1, .modal-content2, .modal-content3 {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

/* Caption of Modal Image */
#caption1, #caption2, #caption3{
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/* Add Animation */
.modal-content1, #caption1, .modal-content2, #caption2, .modal-content3, #caption3{    
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)} 
    to {-webkit-transform:scale(1)}
}

@keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
}

/* The Close Button */
.close1, .close2, .close3{
	position: absolute;
	margin-top: 2em;
	margin-right: 5em;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close1:hover, .close1:focus, .close2:hover, .close2:focus, .close3:hover, .close3:focus{
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .modal-content1,  .modal-content2, .modal-content3{
        width: 100%;
    }
}		
  


/* IT Skills */
#ITSkills {
	margin-left:1em; 
	padding-top:5em;
	margin: auto;
}	

.progress {
  width: 100%;
  background-color: #A9A9A9;
  height: 100%;
  border-top-left-radius: 7px;
  border-bottom-left-radius: 7px;
  border-color: #A9A9A9;
  animation-name: progressBar;
  animation-iteration-count: 1;
  animation-duration: 2s;
}

.progress-bar{
	background-color: #252423;
	width: 100%;
	height: 30px;
	border: 1px solid black;
	border-radius: 7px;
	padding: 4px;
}

@keyframes progressBar {
  0% {
    width: 10%;
  }
  
  100% {
    width: 100%;
  }
}

  
  /** WORK EXPERIENCE **/
#workExperience {
	margin-left: 	1em; 
	padding-top:	5em;
	margin: auto;
}	

 /** PROJECTS AND SKILLS **/

 .panel {
      border: 1px solid #252423; 
      border-radius:0 !important;
      transition: box-shadow 0.5s;
  }
  
  .panel:hover {
      box-shadow: 5px 0px 40px rgba(0,0,0, .2);
  }
  .panel-footer .btn:hover {
      border: 1px solid #252423;
      background-color: #fff !important;
      color: #252423;
  }
  .panel-heading {
      color: #fff !important;
      background-color: #252423 !important;
      padding: 25px;
      border-bottom: 1px solid transparent;
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
  }
  .panel-footer {
      background-color: white !important;
  }
  .panel-footer h3 {
      font-size: 32px;
  }
  .panel-footer h4 {
      color: #aaa;
      font-size: 14px;
  }
  .panel-footer .btn {
      margin: 15px 0;
      background-color: #252423;
      color: #fff;
  } 
 
  /** CONTACT ME **/
#contactMe {
	margin-left: 	1em; 
	padding-top:	5em;
	margin: auto;

}

.modal-content {
	padding-top: 2em;
}

.alert{
	display:none;
	text-align: left;
}	

	
  /** FOOTER **/
footer {
    text-align: center;	
	background-color: #2d2d30;
	color: #f5f5f5;
    margin: auto;
    padding-top: 5%;
    padding-bottom: 5%;
}


footer a {
    color: #f5f5f5;
}

footer a:hover {
    color: #777;
    text-decoration: none;
}